name: Deploy

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  
env:
  APP_NAME: "POSTCODE UPDATE"
  APP_ENV: production
  TIME_ZONE: 'Europe/London'
  APP_KEY: ${{ secrets.APP_KEY }} 
  APP_DEBUG: false

  APP_URL: ${{ secrets.APP_URL }} 
  ASSET_URL: ${{ secrets.ASSET_URL }} 
  VITE_BASE_URL: ${{ secrets.VITE_BASE_URL }} 
  
  DB_CONNECTION: ${{ secrets.DB_CONNECTION }}
  DB_HOST: ${{ secrets.DB_HOST }}
  DB_DATABASE: ${{ secrets.DB_DATABASE }}
  DB_USERNAME: ${{ secrets.DB_USERNAME }}
  DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
  DB_PORT: 3306

  BROADCAST_DRIVER: log
  CACHE_DRIVER: file
  FILESYSTEM_DISK: local
  QUEUE_CONNECTION: sync
  SESSION_DRIVER: file
  SESSION_LIFETIME: 120



jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '16.15.1'

    
      
    - name: Setup SSH
      run: |
        mkdir -p ~/.ssh/
        echo "${{ secrets.CPANEL_SSH_KEY }}" > ~/.ssh/id_rsa
        echo "${{ secrets.CPANEL_SSH_PUBLIC_KEY }}" > ~/.ssh/id_rsa.pub
        chmod 600 ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa.pub
        ssh-keyscan -H ${{ secrets.SERVER_IP }} >> ~/.ssh/known_hosts

    - name: Deploy
      run: |
        ssh postcodeslccac@${{ secrets.SERVER_IP }} 'bash -s' < ${{ github.workspace }}/.github/workflows/deploy.sh
